<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<style>
form.example input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
</head>
</style>
<body>
 
{% block body %}
 <body background="{{ url_for('static', filename='Water.jpg') }}">
{% endblock %}
<center>
<br>
<br>
<font size=10 color="white"><i><b>Student</b></i></font>
<br>
<br>
<br>
<!--form class="example" style="margin:auto;max-width:300px"-->
<form  method="POST" action="">
ENTER NAME:
  <input type="text" placeholder="Enter Your Name" name="name" />
   <br>
   <br>
ENTER USERNAME
  <input type="text" placeholder="Enter Username" name="user" />
   <br>
   <br>
ENTER PASSWORD 
  <input type="password" placeholder="Enter Password" name="pass" />
<br>
<br>
ENTER BIRTHDATE
  <input type="text" name="bdate" />
  <br>
  <br>
SELECT SUBJECT
 <br>
  <input type="checkbox"  name="s1" value="ADS" />Advance Distributed System<br>
  <input type="checkbox" name="s2" value="PDM" />Project Delivery management<br>
  <input type="checkbox" name="s3" value="SE" />Software Engineering<br>
  <input type="checkbox" name="s4" value="ADT" />Advance Data Types<br>
  <input type="checkbox" name="s5" value="SM" />Simulation <br>
  <br>
<input type="submit" value="submit">
</form>
<br>

</center>
</body>
</html> 

